<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headers') %>
    <title>Register Emp</title>
</head>
<body>
    <div class="jumbotr">
        <h3 style="text-align: center;padding-bottom: 50px;">Employee Register</h3>
    </div>
    <form method="post" action="/registerEmp" enctype="multipart/form-data">
        <div class="row">
            <div class="col s2"></div>
                <div class="col s4">
                    <div class="input-field col s6">
                        <label for="account no">Account No</label>
                        <input type="number" name="emp_acct" id="emp_acct" oninput="validity.valid||(value='');" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="name">Name</label>
                        <input type="text" name="emp_name" id="emp_name" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="id">Emp ID</label>
                        <input type="number" name="emp_id" id="emp_id">
                    </div>
                    <div class="input-field col s6">
                        <select name="emp_gender" id="emp_gender">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                        <label>Gender</label>
                    </div>
                    <div class="input-field col s6">
                        <label for="date"></label>
                        <input type="date" name="emp_join_date" id="emp_join_date">
                    </div>
                    <div class="input-field col s6">
                        <label for="phone">Phone</label>
                        <input type="number" name="emp_phone" id="emp_phone" oninput="validity.valid||(value='');" required>
                    </div>
                </div>
                <div class="col s4">
                    <div class="input-field col s6">
                        <label for="address">Address</label>
                        <input type="text" name="emp_address" id="emp_address">
                    </div>
                    <div class="input-field col s6">
                        <select name="emp_counter" id="emp_counter">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="bakery">Bakery</option>
                            <option value="cashier">Cashier</option>
                            <option value="inventory">Inventory</option>
                            <option value="vegetable">Vegetable</option>
                            <option value="plastic">Plastic</option>
                            <option value="grocery">Grocery</option>
                            <option value="soap">Soap</option>
                            <option value="sauce">Sauce</option>
                            <option value="maggie">Maggie</option>
                            <option value="cosmetic">Cosmetic</option>
                        </select>
                        <label>Counter</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="emp_job_role" id="emp_job_role">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="sales">Sales</option>
                            <option value="inventory">Inventory</option>
                            <option value="cashier">Cashier</option>
                            <option value="sweaper">Sweaper</option>
                            <option value="watchman">Watchman</option>
                            <option value="security">Security</option>
                            <option value="hamali">Hamali</option>
                        </select>
                        <label>Job Role</label>
                    </div>
                    <div class="input-field col s6">
                        <label for="salary">Basic Salary</label>
                        <i class="fa fa-inr" aria-hidden="true" style="padding-right: 20px;"></i>
                        <input style="width: 80%;" type="number" name="emp_salary" 
                        id="emp_salary" oninput="validity.valid||(value='');" step="0.01" required>
                    </div>
                    <label for="payment method"> Select Payment Method </label>
                    <div style="padding-top: 10px;padding-bottom: 10px;">
                        <label>
                            <input type="checkbox" onchange="cash_check()" name="emp_cash" id="emp_cash">
                            <span>Cash</span>
                        </label>
                        <span style="padding: 30px">OR</span>
                        <label>
                            <input type="checkbox" onchange="pf_check()" name="emp_pf" id="emp_pf">
                            <span>PF</span>
                        </label>
                    </div>
                    <label for="profile picture"> Choose Profile Picture </label>
                    <div class="file-field input-field">
                        <div class="btn red">
                            <span>FILE</span>
                            <input type="file" name="emp_picture" id="emp_picture" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s4"></div>
            <div class="col s4">
            <button class="btn waves-effect waves-light red" onclick="M.toast({ html: 'Registered Succssfully'})" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        function cash_check() {
            c = document.getElementById('emp_cash');

            if( c.checked === true ) {
                document.getElementById('emp_pf').disabled = true;
            } else if( c.checked === false ) {
                document.getElementById('emp_pf').disabled = false;
            } 
        }

        function pf_check() {
            pf = document.getElementById('emp_pf');

            if( pf.checked === true ) {
                document.getElementById('emp_cash').disabled = true;
            }  else if( pf.checked === false ) {
                document.getElementById('emp_cash').disabled = false;
            }
        }
    </script>
</body>
</html>